body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(20, 20, 20) 35%, rgb(37, 37, 37) 100%);
}

/* Main Headline */
h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 125px;
  margin: 0 0 15px 0;
  color: rgb(252, 246, 243);

}

/* Nav Bar */
header nav {
  margin: auto;
  width: 500px;
}

header li {
  display: inline-block;
  margin-left: 37px;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
  display: inline-block;
  font-size: 23px;
  color: rgb(252, 246, 243);
}

nav a:hover {
  color: rgb(52, 214, 106);
  transition: 350ms;
}
main {
  color: rgb(252, 246, 243);
}

/* Form Title & SubText */
#campTime {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin: 50px 0 0 0;
}

#formTitle {
  font-size: 55px;
}

#nameTrip {
  margin-top: 30px;
  padding: 40px 80px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.15);
  background-color: rgb(22, 22, 22);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 15px;
}

/* Name & Trip Text */
#subTitle1 {
  margin: 10px 0 0 0;
  font-size: 20px;
}

/* Four Items Text */
#subTitle2 {
  margin: 10px 0 0 0;
  font-size: 20px;
}

/* Green Text - Name, Trip & Four */
.green {
  color: rgb(52, 214, 106);
}

/* Div Box */
#formTitles {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 40px 80px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.15);
  background-color: rgb(22, 22, 22);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 15px;
}

#camperNameText {
  margin: 0 5px 0 0;
  font-size: 15px;
}
#camperName {
  margin-right: 15px;
}

#tripTypeText {
  margin: 0 5px 0 0;
  font-size: 15px;
}

#tripType {
  margin-right: 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

/* Text Boxes Div Background */
#textFields {
  margin-top: 15px;
  padding: 40px 80px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.15);
  background-color: rgb(22, 22, 22);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 15px;
}

/* Item Boxes */
#item1text {
  margin-right: 8px;
}
#item1 {
  margin: 0 25px 0 0;
}

#item2text {
  margin-right: 8px;
}
#item2 {
  margin: 0 25px 0 0;
}

#item3text {
  margin-right: 8px;
}
#item3 {
  margin: 0 25px 0 0;
}

#item4text {
  margin-right: 8px;
}
#item4 {
  margin: 0 25px 0 0;
}

/* Submit Button to Results */
.button {
  background-color: #3f5e42;
  border: none;
  color: rgb(252, 246, 243);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 25px;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
}

.button:hover{
  background-color: #c08a48;
  transition: 750ms;
}